@model List<TestimonialVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<a href="/Staff/AddTestimonial" class="btn mb-1 btn-rounded btn-outline-primary">Ekle</a>

<br />

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Referans Ünvanı</th>
        <th>Referans Görsel</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialID</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>@item.Image</td>
            <td>
                <a href="/Staff/DeleteTestimonial/@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a>
            </td>
            <td>
                <a href="/Staff/UpdateTestimonial/@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-info">Güncelle</a>
            </td>
            <td>
                <a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a>
            </td>
        </tr>
    }
</table>

