@model List<ApiMovieVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Rapid Api Üzerinden Film Listesi Getirir</h1>

<div class="container">
    <br />
    <table class="table table-hover table-responsive">
        <tr>
            <th>#</th>
            <th>Film Adı</th>
            <th>Puanı</th>
            <th>Fragman</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.rank</td>
                <td>@item.title</td>
                <td>@item.rating</td>
                <td>
                    <a href="#" class="btn btn-outline-info">Fragmanı Oynat</a>
                </td>
            </tr>
        }
    </table>
</div>

